<h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus"></i> 建立新用户</a> 用户列表</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>名称</th>
            <th>邮箱</th>
            <th>手机</th>
            <th>城市</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i
                        class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>